#nav{
	width: 100%;
	height: 137px;
	background-color: #1d3e51;
	font-family: "Ubuntu-R", Calibri, sans-serif;
}

#nav table{
	color: #fff;
	font-family: "Ubuntu-B", Calibri, sans-serif;
}

#nav table td{
	vertical-align:middle;
}

#nav-cont table img{
	vertical-align: middle;
}

#main{
	width: 508px;
	margin: 0 auto;
	font-family: "Ubuntu-R", Calibri, sans-serif;
}

.cta{
	font-size: 48px;
	padding: 10px 0;
}

#order-id{
	width: 499px;
	height: 100px;
	border: 5px solid #1d3e51;
	border-radius: 10px;
	text-align: center;
	font-size: 60px;
	font-family: "Ubuntu-R", Calibri, sans-serif;
}

.btn{
	width: 150px;
	height: 105px;
	background-color: #1d3e51;
	color: #fff;
	font-size: 90px;
	outline: none!important;
	border: none!important;
	border-radius: 10px;
	font-family: "Ubuntu-R", Calibri, sans-serif;
}

.center-btn{
	margin: 0 29px;
}

.btn:active{
	background-color: #3498db;
	transform: translateY(4px);
}

.raw{
	width: 100%;
	height: 105px;
	margin-top: 26px;
}

.spec-btn{	
	width: 328px;
	height: 105px;
	background-color: transparent;
	color: #1d3e51;
	font-size: 48px;
	outline: none!important;
	border: 5px solid #1d3e51;
	border-radius: 10px;
	vertical-align: top;
	font-family: "Ubuntu-R", Calibri, sans-serif;
}

.spec-btn:active{
	transform: translateY(4px);
}

#del{
	padding-left: 50px;
	margin-left: 29px;
	background-image: url("../images/left.png");
	background-repeat: no-repeat;
	background-position: 22px;
	text-transform: uppercase;
}

#footer{
	position: relative;
	height: 183px;
	text-align: center;
}

#help{
	position: absolute;
	bottom: 50px;
	left: 30px;
	padding-left: 70px;
	background-image: url("../images/info.png");
	background-repeat: no-repeat;
	background-position: 15px;
	text-transform: uppercase;
}

#next{
	position: absolute;
	bottom: 50px;
	right: 30px;
	padding-right: 70px;
	background-image: url("../images/right.png");
	background-repeat: no-repeat;
	background-position: 262px;
	text-transform: uppercase;
}

#req{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1024px;
	background-color: #fff;
}

#req-cont{
	width: 390px;
	text-align: center;
	margin: 390px auto;
}

#req-cont p{
	font-family: "Ubuntu-R", Calibri, sans-serif;
	font-size: 48px;
}

#load{
	padding-top: 50px;
	margin: 0 auto;
	width: 142px;
	height: 142px;
	background-image: url("../images/load.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	animation: spin 3s linear infinite;
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#cont{
	width: 640px;
	height: 328px;
	margin: 0 auto;
	padding-top: 350px;
	padding-bottom: 100px;
	text-align: center;
}

#cont p{
	font-family: "Ubuntu-R", Calibri, sans-serif;
	font-size: 48px;
	text-align: center;
}

#cont img{
	padding-top: 30px;
	margin: 0 auto;
}

#main-cont{
	height: 346px;
	position: relative;
	text-align: center;
}

#on-main{
	font-family: "Ubuntu-R", Calibri, sans-serif;
	font-size: 40px;
	background-image: url("../images/home.png");
	background-position: 10px;
	background-repeat: no-repeat;
	padding-left: 50px;
	bottom: 50px;
}

#sorry{
	display: none;
}

#help-main{
	width: 100%;
	height: 841px;
	text-align: center;
}

#help-back{
	position: absolute;
	bottom: 50px;
	left: 30px;
	padding-left: 70px;
	background-image: url("../images/left.png");
	background-repeat: no-repeat;
	background-position: 30px;
	text-transform: uppercase;
}

#help-next{
	position: absolute;
	bottom: 50px;
	right: 30px;
	padding-right: 70px;
	background-image: url("../images/right.png");
	background-repeat: no-repeat;
	background-position: 262px;
	text-transform: uppercase;
}

.help-img{
	width: 1000px;
	margin-top: 150px;
}
